<div class="greeting__wrapper">
    <header class="greeting">
        <load ="/components/header/nav/nav.html" />
        <section class="greeting__content-wrapper">
            <div class="greeting__content">
                <h1>Oksana Muratova</h1>
                <div class="greeting__content-wrapper-inner">
                    <p class="major-paragraph">
                        Я, художник и неисправимый мистик, неустанно рассказываю странные истории в своих картинах.
                    </p>
                    <p class="major-paragraph">
                        Мрачные сказки, неожиданные выводы и тайные знаки... Если Вам близка мрачная эстетика и
                        мистицизм, то Вы в правильном месте.
                    </p>
                    <p class="major-paragraph">Добро пожаловать!</p>
                    <div class="greeting__contacts">
                        <a href="#" class="link-button gallery-link">Галерея моих работ</a>
                        <load ="/components/social-icons/social-icons.html" />
                    </div>
                </div>
            </div>
        </section>
        <div class="greeting__arrow-down">╱ ╲</div>
    </header>
</div>
