.most-actual__wrapper {
    background-color: var(--background-color-bright);

    @mixin block-wrapper;
}

.most-actual {
    @mixin block;

    width: auto;
    padding: var(--gap-huge) var(--gap-min);
    color: var(--dark-text-color);
    font-size: var(--font-size-medium);

    @media (max-width: 1024px) {
        text-align: center;
        font-size: var(--font-size-pre-medium);
    }

    &__first-line {
        text-align: center;
    }

    &__icons-wrapper {
        .social-icons {
            @mixin social-icons-dark;

            justify-content: center;
            margin-top: var(--gap-min);
        }
    }
}
