<section class="artwork">
    <h2>My works</h2>
    <p class="artwork__description">
        Для создания своих картин я использую разные материалы: ткань, бумагу, текстурную пасту, вышивку, а также
        различные артефакты. Найденные детские игрушки, винтажная бижутерия, камни - эти и другие артобъекты в моих
        произведениях обретают новую статусность музейных экспонатов. Таким образом я пропагандирую осознанное
        потребление, прославляя апсайклинг как эстетику будущего.
    </p>
    <div class="artwork__items-container">
        <load
            ="/en/components/artwork/artwork-item.html"
            title="Ямы Матрешка"
            imgSrc="/public/works/matreshka.png"
            size="60 * 80"
            materials="Акрил, ткань, бисер"
            date="2022"
            price="700 $"
        />
        <load
            ="/en/components/artwork/artwork-item.html"
            title="День Рождения"
            imgSrc="/public/works/birthday.png"
            size="60 * 80"
            materials="Акрил, ткань, бисер"
            date="2022"
            price="700 $"
        />
        <load
            ="/en/components/artwork/artwork-item.html"
            title="Не хочу быть взрослым"
            imgSrc="/public/works/wont-be-adult.png"
            size="60 * 80"
            materials="Акрил, ткань, бисер"
            date="2022"
            price="700 $"
        />
    </div>
    <div class="link-button__show-more">
        <a href="#" class="link-button">Show more</a>
    </div>
</section>
