@define-mixin button-hover {
    text-decoration: none;
    box-shadow: 0 0 10px var(--bright-text-color);
    transition: all 0.3s ease;
}

@define-mixin block-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@define-mixin block {
    max-width: 1280px;
    width: 100%;
    padding: var(--gap-big) var(--gap-min);
    box-sizing: border-box;

    @media (width <= 1024px) {
        padding: var(--gap-min);
    }
}

@define-mixin inner-wrapper {
    border-left: 1px solid var(--bright-text-color);
    padding-left: 40px;
    margin-bottom: var(--gap-medium);

    @media (width <= 1024px) {
        border-left: none;
        padding-left: 0;
    }
}

@define-mixin social-icons-dark {
    a {
        border-color: var(--dark-text-color);

        img {
            filter: invert(1);
        }
    }
}

@define-mixin specification-table {
    border-spacing: 0;
    width: 100%;

    &-right,
    &-left {
        height: var(--gap-medium);
    }

    &-right {
        text-align: right;
    }
}
