@import url('/mixins');
@import url('./components/social-icons/social-icons');
@import url('./components/header/greeting/greeting');
@import url('./components/header/nav/burger-menu/burger-menu');
@import url('./components/header/nav/button-top/button-top');
@import url('./components/about/about');
@import url('./components/artwork/artwork');
@import url('./components/most-actual/most-actual');
@import url('./components/velvet-trash/velvet-trash');
@import url('./components/awards/awards');
@import url('./components/contacts/contacts');
@import url('./components/footer/footer');

:root {
    --background-color: #2d6372;
    --background-color-bright: #fcfdff;
    --background-color-footer: #062731cc;
    --footer-text-color: #fffdfe;
    --bright-text-color: #fff;
    --dark-text-color: #02191c;
    --gray-text-color: #a6a6a6;
    --max-width-content: 820px;
    --font-size-general: 16px;
    --font-size-general-mobile: 14px;
    --font-size-pre-medium: 18px;
    --font-size-medium: 24px;
    --font-size-header: 72px;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    font-size: var(--font-size-general);
    line-height: 2rem;
    color: var(--bright-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (width <= 1024px) {
        font-size: var(--font-size-general-mobile);
        line-height: 1.5rem;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

h1,
h2 {
    font-size: var(--font-size-header);
    margin-bottom: 3rem;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    margin-top: 2rem;
    line-height: var(--font-size-header);

    @media (width <= 1024px) {
        font-size: var(--font-size-medium);
        margin-bottom: 2rem;
        line-height: initial;
    }
}

h3 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: var(--font-size-medium);

    @media (width <= 1024px) {
        font-size: var(--font-size-pre-medium);
    }
}

a {
    text-decoration: none;
    color: var(--bright-text-color);

    &:hover {
        text-decoration: underline;
    }
}

p {
    margin: 2rem 0;

    @media (width <= 1024px) {
        margin: 1.5rem 0;
    }
}

.major-paragraph {
    font-size: var(--font-size-medium);
    line-height: 35px;
    text-align: left;

    @media (width <= 1024px) {
        font-size: var(--font-size-general-mobile);
        line-height: 20px;
    }
}

.link-button {
    border: 1px solid var(--bright-text-color);
    padding: 1rem;
    border-radius: 150px;

    &:hover {
        @mixin button-hover;
    }

    &__show-more {
        margin: 4rem 0;
        text-align: center;
    }
}
