<div class="velvet-trash__item">
    <div class="velvet-trash__item-collage">
        <img
            src="{=$mainImgSrc}"
            loading="lazy"
            alt="{=$title}"
            class="velvet-trash__item-img velvet-trash__item-collage-prime-pic"
        />
        <div class="velvet-trash__item-collage-extra-pic-wrapper">
            <img
                src="{=$extraImgSrc1}"
                loading="lazy"
                alt="{=$title}"
                class="velvet-trash__item-img velvet-trash__item-collage-extra-pic"
            />
            <img
                src="{=$extraImgSrc2}"
                loading="lazy"
                alt="{=$title}"
                class="velvet-trash__item-img velvet-trash__item-collage-extra-pic"
            />
        </div>
    </div>
    <div class="velvet-trash__item-info">
        <h3 class="velvet-trash__item-info-heading">{=$title}</h3>
        <p class="velvet-trash__item-info-description">{=$description}</p>
        <table class="velvet-trash__item-specification">
            <tbody>
                <tr>
                    <td class="velvet-trash__item-specification-left">{=$specSize}</td>
                    <td class="velvet-trash__item-specification-right">{=$size}</td>
                </tr>
                <tr>
                    <td class="velvet-trash__item-specification-left">{=$specMaterials}</td>
                    <td class="velvet-trash__item-specification-right">{=$materials}</td>
                </tr>
                <tr>
                    <td class="velvet-trash__item-specification-left">{=$specDate}</td>
                    <td class="velvet-trash__item-specification-right">{=$date}</td>
                </tr>
                <tr>
                    <td class="velvet-trash__item-specification-left">{=$specPrice}</td>
                    <td class="velvet-trash__item-specification-right">{=$price}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
