<section class="velvet-trash">
    <h2>МУЗЕЙ БАРХАТНОГО ХЛАМА</h2>
    <p class="velvet-trash__description">
        С 2008 года профессионально работала в медиуме «Художественная кукла», имеею дипломы и награды международного
        значения. Поэтому в моих работах имеется глубокий след кукольного искусства с одной стороны, и попытки внедрения
        элементов стилистики junk art, с другой. Я активно использую лепку на холсте, вышивку, а так же бумагу, ткани и
        различные найденные артефакты. Мои образы отсылают к сказкам и фантастическим мирам с сюрреалистическими
        мотивами и вымышленными персонажами. Мои работы представл яют галереи в Москве, Санкт-Петербурге и Сочи
        (Россия). Активно принимаю участие в международных российских и европейских выставках и была награждена
        дипломами как призер тематических конкурсов.
    </p>
    <load
        ="/components/velvet-trash/velvet-trash-item.html"
        title="Мишка-воспоминание"
        mainImgSrc="public/velvet-trash/bear-memory/prime.jpg"
        extraImgSrc1="public/velvet-trash/bear-memory/prime.jpg"
        extraImgSrc2="public/velvet-trash/bear-memory/prime.jpg"
        description="Мишка-воспоминание “Сериал для брата”. Проект “Когда я был Бумером”."
        size="60 * 80"
        materials="Акрил, ткань, бисер"
        date="2022"
        price="700 $"
        priceTitle="Цена"
        dateTitle="Выпуск"
        materialsTitle="Материалы"
        sizeTitle="Размер холста, см"
    />

    <load
        ="/components/velvet-trash/velvet-trash-item.html"
        title="Утиные истории"
        mainImgSrc="public/velvet-trash/duck-tales/prime.jpg"
        extraImgSrc1="public/velvet-trash/duck-tales/prime.jpg"
        extraImgSrc2="public/velvet-trash/duck-tales/prime.jpg"
        description="Мишка-воспоминание “Сериал для брата”. Проект “Когда я был Бумером”."
        size="60 * 80"
        materials="Акрил, ткань, бисер"
        date="2022"
        price="700 $"
        priceTitle="Цена"
        dateTitle="Выпуск"
        materialsTitle="Материалы"
        sizeTitle="Размер холста, см"
    />

    <load
        ="/components/velvet-trash/velvet-trash-item.html"
        title="Утиные истории"
        mainImgSrc="public/velvet-trash/angel/prime.jpg"
        extraImgSrc1="public/velvet-trash/angel/prime.jpg"
        extraImgSrc2="public/velvet-trash/angel/prime.jpg"
        description="Это - ангел Фреди. Размах крыльев - 40 см. Винтажная доска - как подвеска: есть петельки. Участвовал на
    вставке “Искусство куклы” в Гостином дворе."
        size="60 * 80"
        materials="Акрил, ткань, бисер"
        date="2022"
        price="700 $"
        priceTitle="Цена"
        dateTitle="Выпуск"
        materialsTitle="Материалы"
        sizeTitle="Размер холста, см"
    />

    <div class="link-button__show-more">
        <a href="#" class="link-button">Показать еще</a>
    </div>
</section>
