<section class="velvet-trash" id="velvet-trash">
    <h2>{=$velvetTrashTitle}</h2>
    <p class="velvet-trash__description">{=$velvetTrashDescription}</p>
    <load
        ="/components/velvet-trash/velvet-trash-item.html"
        title="{=$velvetBearRememberTitle}"
        mainImgSrc="/velvet-trash/bear-memory/prime.jpg"
        extraImgSrc1="/velvet-trash/bear-memory/prime.jpg"
        extraImgSrc2="/velvet-trash/bear-memory/prime.jpg"
        description="{=$velvetBearRememberDescription}"
        size="60 * 80"
        materials="{=$specMaterialAkril}, {=$specMaterialCanvas}, {=$specMaterialBiser}"
        date="2022"
        price="700 $"
    />

    <load
        ="/components/velvet-trash/velvet-trash-item.html"
        title="{=$velvetDuckTalesTitle}"
        mainImgSrc="/velvet-trash/duck-tales/prime.jpg"
        extraImgSrc1="/velvet-trash/duck-tales/prime.jpg"
        extraImgSrc2="/velvet-trash/duck-tales/prime.jpg"
        description="{=$velvetBearRememberDescription}"
        size="60 * 80"
        materials="{=$specMaterialAkril}, {=$specMaterialCanvas}, {=$specMaterialBiser}"
        date="2022"
        price="700 $"
    />

    <load
        ="/components/velvet-trash/velvet-trash-item.html"
        title="{=$velvetAngelTitle}"
        mainImgSrc="/velvet-trash/angel/prime.jpg"
        extraImgSrc1="/velvet-trash/angel/prime.jpg"
        extraImgSrc2="/velvet-trash/angel/prime.jpg"
        description="{=$velvetAngelDescription}"
        size="60 * 80"
        materials="{=$specMaterialAkril}, {=$specMaterialCanvas}, {=$specMaterialBiser}"
        date="2022"
        price="700 $"
    />

    <load
        ="/components/velvet-trash/velvet-trash-item.html"
        title="Мишка-воспоминание"
        mainImgSrc="/velvet-trash/bear-memory/prime.jpg"
        extraImgSrc1="/velvet-trash/bear-memory/prime.jpg"
        extraImgSrc2="/velvet-trash/bear-memory/prime.jpg"
        description="Мишка-воспоминание “Сериал для брата”. Проект “Когда я был Бумером”."
        size="60 * 80"
        materials="Акрил, ткань, бисер"
        date="2022"
        price="700 $"
    />

    <load
        ="/components/velvet-trash/velvet-trash-item.html"
        title="Мишка-воспоминание"
        mainImgSrc="/velvet-trash/bear-memory/prime.jpg"
        extraImgSrc1="/velvet-trash/bear-memory/prime.jpg"
        extraImgSrc2="/velvet-trash/bear-memory/prime.jpg"
        description="Мишка-воспоминание “Сериал для брата”. Проект “Когда я был Бумером”."
        size="60 * 80"
        materials="Акрил, ткань, бисер"
        date="2022"
        price="700 $"
    />

    <load
        ="/components/velvet-trash/velvet-trash-item.html"
        title="Мишка-воспоминание"
        mainImgSrc="/velvet-trash/bear-memory/prime.jpg"
        extraImgSrc1="/velvet-trash/bear-memory/prime.jpg"
        extraImgSrc2="/velvet-trash/bear-memory/prime.jpg"
        description="Мишка-воспоминание “Сериал для брата”. Проект “Когда я был Бумером”."
        size="60 * 80"
        materials="Акрил, ткань, бисер"
        date="2022"
        price="700 $"
    />
    <load
        ="/components/velvet-trash/velvet-trash-item.html"
        title="Мишка-воспоминание"
        mainImgSrc="/velvet-trash/bear-memory/prime.jpg"
        extraImgSrc1="/velvet-trash/bear-memory/prime.jpg"
        extraImgSrc2="/velvet-trash/bear-memory/prime.jpg"
        description="Мишка-воспоминание “Сериал для брата”. Проект “Когда я был Бумером”."
        size="60 * 80"
        materials="Акрил, ткань, бисер"
        date="2022"
        price="700 $"
    />

    <div class="link-button__show-more" id="velvet-trash__show-more-btn">
        <a href="#" class="link-button">{=$showMore}</a>
    </div>
</section>
