<section class="greeting__nav-wrapper">
    <div class="greeting__logo">
        <img src="/public/logo.svg" alt="{=$greetingLogoAlt}" />
    </div>
    <nav class="greeting__nav-desktop">
        <ul class="greeting__nav-desktop-list">
            <load ="/components/header/nav/menu-items.html" />
        </ul>
    </nav>
    <div class="greeting__extra-links">
        <div class="greeting__locales">
            <a href="/">RU</a>
            <a href="/en/">EN</a>
        </div>
        <load ="/components/header/nav/burger-menu/burger-menu.html" />
    </div>
</section>
<load ="/components/header/nav/button-top/button-top.html" />
