<section class="greeting__nav-wrapper">
  <div class="greeting__logo">
    <img src="/public/logo.svg" alt="Логотип Оксана Муратова" />
  </div>
  <nav class="greeting__nav-desktop">
    <ul class="greeting__nav-desktop-list">
      <li><a href="#">Обо мне</a></li>
      <li><a href="#">Галерея</a></li>
      <li><a href="#">Музей</a></li>
      <li><a href="#">Анонсы</a></li>
      <li><a href="#">Контакты</a></li>
    </ul>
  </nav>
  <div class="greeting__extra-links">
    <div class="greeting__locales">
      <a href="/">RU</a>
      <a href="/en/">EN</a>
    </div>
    <button
      class="burger-menu"
      aria-expanded="false"
      aria-controls="burger-menu__list"
      aria-label="Кнопка открытия или закрытия основного меню"
    >
      <div class="burger-menu__button-line"></div>
      <div class="burger-menu__button-line"></div>
      <div class="burger-menu__button-line"></div>
    </button>
  </div>
</section>
