<div class="greeting__wrapper" id="greeting__wrapper">
    <header class="greeting">
        <load ="/components/header/nav/nav.html" />
        <section class="greeting__content-wrapper">
            <div class="greeting__content">
                <h1>{=$greetingTitle}</h1>
                <div class="greeting__content-wrapper-inner">
                    <p class="major-paragraph">{=$greetingMajorParagraph1}</p>
                    <p class="major-paragraph">{=$greetingMajorParagraph2}</p>
                    <p class="major-paragraph">{=$greetingMajorParagraph3}</p>
                    <div class="greeting__contacts">
                        <a href="#artwork" class="link-button gallery-link">{=$myWorkGalleryButton}</a>
                        <load ="/components/social-icons/social-icons.html" />
                    </div>
                </div>
            </div>
        </section>
        <div class="greeting__arrow-down">╱ ╲</div>
    </header>
</div>
