@import url('/mixins');

.greeting__wrapper {
    @mixin block-wrapper;

    position: relative;

    &&_zoom-wait-load {
        &:before {
            transform: scale(1.5);
        }
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.85;
        z-index: -1;
        background-repeat: no-repeat;
        background-size: cover;
        transform: scale(1);
        transition: transform 2s;

        @media (max-width: 1023px) {
            background-image: url(/bg/greeting-background-mobile.jpg);
            font-weight: var(--mobile-resolution);

            @media (height <= 660px) {
                background-position: 100% 100%;
            }
        }

        @media (width > 1024px) {
            background-image: url(/bg/greeting-background.jpg);
        }
    }
}

.greeting {
    text-align: center;

    @mixin block;

    h1 {
        text-shadow: 0 0 5px black;
    }

    &__nav-wrapper {
        display: flex;
        justify-content: space-between;
        border-bottom: var(--bright-text-color) solid 1px;
        margin-bottom: 10rem;
        text-transform: uppercase;

        @media (max-width: 1023px) {
            margin-bottom: 6.5rem;
        }
    }

    &__logo {
        width: 60px;
        height: 60px;
        margin-right: var(--gap-min);
        display: flex;
        align-items: center;

        @media (max-width: 1023px) {
            img {
                width: var(--gap-medium);
                height: var(--gap-medium);
            }
        }
    }

    &__nav-desktop {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        line-height: 40px;

        @media (max-width: 1023px) {
            display: none;
        }

        &-list {
            display: flex;
            width: 100%;
            max-width: var(--max-width-content);
            justify-content: space-around;
            list-style: none;
            padding: 0;
        }
    }

    &__extra-links {
        margin-left: var(--gap-min);
        display: flex;
        align-items: center;

        @media (max-width: 1023px) {
            margin-right: 50px;
        }
    }

    &__locales {
        display: flex;

        a:not(:last-child) {
            margin-right: var(--gap-min);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        max-width: var(--max-width-content);
        opacity: 1;
        transition: opacity 1.5s ease-in-out;

        @media (max-width: 1023px) {
            width: 80%;
        }

        &-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;

            &-inner {
                @mixin inner-wrapper;

                margin-bottom: 5rem;

                @media (max-width: 1023px) {
                    margin-bottom: 3.5rem;
                }

                .major-paragraph:first-child {
                    margin-top: 0;
                }
            }
        }
    }

    &__contacts {
        display: flex;
        margin-top: var(--gap-huge);

        .gallery-link {
            margin-right: var(--gap-min);

            @media (max-width: 1023px) {
                width: 161px;
                margin-top: var(--gap-medium);
            }
        }

        @media (max-width: 1023px) {
            flex-direction: column-reverse;
        }
    }

    &__arrow-down {
        margin: var(--gap-big) 0;

        &-img {
            justify-content: center;
            bottom: var(--gap-big);
            position: absolute;
            width: 65px;
            animation: jump 0.8s ease 1.5s infinite alternate;
            cursor: pointer;
            padding: var(--gap-tiny);
            opacity: 1;
            transition: opacity 1.5s ease-in-out;

            @media (max-width: 1023px) {
                width: 50px;
                animation: jump-mobile 0.8s ease 1.5s infinite alternate;
            }
        }

        .jump-wait-load {
            animation: none;
        }
    }

    &_opacity-wait-load {
        opacity: 0;
    }

    @keyframes jump {
        from {
            bottom: var(--gap-big);
        }

        to {
            bottom: var(--gap-huge);
        }
    }

    @keyframes jump-mobile {
        from {
            bottom: var(--gap-medium);
        }

        to {
            bottom: var(--gap-big);
        }
    }
}
