<div class="artwork__item">
    <img src="{=$imgSrc}" alt="{=$title}" class="artwork__item-img" />
    <h3 class="artwork__item-title">{=$title}</h3>
    <table class="artwork__item-specification">
        <tbody>
            <tr>
                <td class="artwork__item-specification-left">Размер</td>
                <td class="artwork__item-specification-right">{=$size}</td>
            </tr>
            <tr>
                <td class="artwork__item-specification-left">Материалы</td>
                <td class="artwork__item-specification-right">{=$materials}</td>
            </tr>
            <tr>
                <td class="artwork__item-specification-left">Выпуск</td>
                <td class="artwork__item-specification-right">{=$date}</td>
            </tr>
            <tr>
                <td class="artwork__item-specification-left">Цена</td>
                <td class="artwork__item-specification-right">{=$price}</td>
            </tr>
        </tbody>
    </table>
</div>
