<section class="artwork" id="artwork">
    <h2>{=$artworksTitle}</h2>
    <p class="artwork__description">{=$artworksDescription}</p>
    <div class="artwork__items-container">
        <load
            ="/components/artwork/artwork-item.html"
            title="{=$workMatreshka}"
            imgSrc="/public/works/matreshka.png"
            size="60 * 80"
            materials="{=$specMaterialAkril}, {=$specMaterialCanvas}, {=$specMaterialBiser}"
            date="2022"
            price="700 $"
        />
        <load
            ="/components/artwork/artwork-item.html"
            title="{=$workBirthday}"
            imgSrc="/public/works/birthday.png"
            size="60 * 80"
            materials="{=$specMaterialAkril}, {=$specMaterialCanvas}, {=$specMaterialBiser}"
            date="2022"
            price="700 $"
        />
        <load
            ="/components/artwork/artwork-item.html"
            title="{=$workWontBeAdult}"
            imgSrc="/public/works/wont-be-adult.png"
            size="60 * 80"
            materials="{=$specMaterialAkril}, {=$specMaterialCanvas}, {=$specMaterialBiser}"
            date="2022"
            price="700 $"
        />
        <load
            ="/components/artwork/artwork-item.html"
            title="День Рождения"
            imgSrc="/public/works/birthday.png"
            size="60 * 80"
            materials="Акрил, ткань, бисер"
            date="2022"
            price="700 $"
        />
        <load
            ="/components/artwork/artwork-item.html"
            title="День Рождения"
            imgSrc="/public/works/birthday.png"
            size="60 * 80"
            materials="Акрил, ткань, бисер"
            date="2022"
            price="700 $"
        />
        <load
            ="/components/artwork/artwork-item.html"
            title="Не хочу быть взрослым"
            imgSrc="/public/works/wont-be-adult.png"
            size="60 * 80"
            materials="Акрил, ткань, бисер"
            date="2022"
            price="700 $"
        />
        <load
            ="/components/artwork/artwork-item.html"
            title="Ямы Матрешка"
            imgSrc="/public/works/matreshka.png"
            size="60 * 80"
            materials="Акрил, ткань, бисер"
            date="2022"
            price="700 $"
        />
        <load
            ="/components/artwork/artwork-item.html"
            title="Ямы Матрешка"
            imgSrc="/public/works/matreshka.png"
            size="60 * 80"
            materials="Акрил, ткань, бисер"
            date="2022"
            price="700 $"
        />
        <load
            ="/components/artwork/artwork-item.html"
            title="Ямы Матрешка"
            imgSrc="/public/works/matreshka.png"
            size="60 * 80"
            materials="Акрил, ткань, бисер"
            date="2022"
            price="700 $"
        />
        <load
            ="/components/artwork/artwork-item.html"
            title="Ямы Матрешка"
            imgSrc="/public/works/matreshka.png"
            size="60 * 80"
            materials="Акрил, ткань, бисер"
            date="2022"
            price="700 $"
        />
    </div>
    <div class="link-button__show-more" id="artwork__show-more-btn">
        <a href="#" class="link-button">{=$showMore}</a>
    </div>
</section>
