.artwork {
    @mixin block;

    &__description {
        margin-bottom: 0;
    }

    &__items-container {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        padding-top: var(--gap-huge);
        flex-wrap: wrap;

        @media (width <= 1024px) {
            flex-direction: column;
            padding-top: 0;
        }
    }

    &__item {
        margin: 0 10px;
        max-width: 30.5%;

        &:nth-child(n + 4) {
            margin-top: var(--gap-big);
            display: none;
        }

        @media (width <= 1024px) {
            max-width: 100%;
            margin-top: var(--gap-big);
        }

        &-img {
            width: 100%;
            max-width: 400px;
            border: 1px solid var(--bright-text-color);
            max-height: 400px;
            cursor: pointer;
        }

        &-title {
            text-transform: uppercase;
            font-weight: 500;
            font-size: var(--font-size-pre-medium);
            line-height: var(--gap-medium);
            margin: var(--gap-medium) 0;

            @media (width <= 1024px) {
                font-size: var(--font-size-pre-medium);
            }
        }

        &-specification {
            @mixin specification-table;

            padding-top: var(--gap-min);
            border-top: 1px solid var(--background-color-bright);
        }
    }
}
