<section class="artwork" id="artwork">
    <h2>{=$artworksTitle}</h2>
    <p class="artwork__description">{=$artworksDescription}</p>
    <div class="artwork__items-container">
        <load
            ="/components/artwork/artwork-item.html"
            serial="{=$workAliceSerial}"
            title="{=$workAlice}"
            materials="{=$specMaterialAkril}, {=$specMaterialPaper}, {=$specMaterialArtefact}"
            imgSrc="/public/works/whereisalice.jpeg"
            size="60 * 60"
            date="2021"
            price="{=$sold}"
        />
        <load
            ="/components/artwork/artwork-item.html"
            serial="{=$workAliceSerial}"
            title="{=$workWontGusenica}"
            imgSrc="/public/works/blueGusenica.jpeg"
            size="60 * 80"
            materials="{=$specMaterialAkril}, {=$specMaterialPaper}, {=$specMaterialArtefact}"
            date="2021"
            price="{=$sold}"
        />
        <load
            ="/components/artwork/artwork-item.html"
            serial="{=$workAliceSerial}"
            title="{=$workWontshultayboltay}"
            imgSrc="/public/works/shultayboltay.jpeg"
            size="40 * 70"
            materials="{=$specMaterialAkril}, {=$specMaterialPaper}, {=$specMaterialArtefact}"  
            date="2021"
            price="47 000 ₽"
        />
        <load
            ="/components/artwork/artwork-item.html"
            serial="{=$workAliceSerial}"
            title="{=$workWontNORA}"
            imgSrc="/public/works/nora.jpeg"
            size="50 * 60"
            materials="{=$specMaterialAkril}, {=$specMaterialPaper}, {=$specMaterialArtefact}"
            date="2021"
            price="47 000 ₽"
        />
        <load
            ="/components/artwork/artwork-item.html"
            serial="{=$workAliceSerial}"
            title="{=$workWonttruelala}"
            imgSrc="/public/works/truelala.jpeg"
            size="40 * 50"
            materials="{=$specMaterialAkril}, {=$specMaterialPaper}, {=$specMaterialArtefact}"
            date="2021"
            price="{=$sold}"
        />
        <load
            ="/components/artwork/artwork-item.html"
            serial="{=$workBabushSerial}"
            title="{=$workWontNevlez}"
            imgSrc="/public/works/nevlezayubyet.jpeg"
            size="40 * 50"
            materials="{=$specMaterialAkril}, {=$specMaterialTkan}, {=$specMaterialVish}"
            date="2022"
            price="30 000 ₽"
        />
        <load
            ="/components/artwork/artwork-item.html"
            serial="{=$workBabushSerial}"
            title="{=$workWontKolob}"
            imgSrc="/public/works/kolobok.jpeg"
            size="40 * 50"
            materials="{=$specMaterialAkril}, {=$specMaterialTkan}, {=$specMaterialVish}"
            date="2022"
            price="21 000 ₽"
        />
        <load
            ="/components/artwork/artwork-item.html"
            serial="{=$workBabushSerial}"
            title="{=$workWontHappy}"
            imgSrc="/public/works/happyend.jpeg"
            size="40 * 50"
            materials="{=$specMaterialAkril}, {=$specMaterialTkan}, {=$specMaterialVish}"
            date="2022"
            price="30 000 ₽"
        />
        <load
            ="/components/artwork/artwork-item.html"
            serial="{=$workBabushSerial}"
            title="{=$workWontAddict}"
            imgSrc="/public/works/addiction.jpeg"
            size="50 * 100"
            materials="{=$specMaterialAkril}, {=$specMaterialTkan}, {=$specMaterialVish}"
            date="2022"
            price="57 000 ₽"
        />
        <load
            ="/components/artwork/artwork-item.html"
            serial="{=$workBabushSerial}"
            title="{=$workWontSuper}"
            imgSrc="/public/works/superman.jpeg"
            size="40 * 50"
            materials="{=$specMaterialAkril}, {=$specMaterialTkan}, {=$specMaterialVish}"
            date="2022"
            price="30 000 ₽"
        />
        <load
            ="/components/artwork/artwork-item.html"
            serial="{=$workBabushSerial}"
            title="{=$workWontOhuzh}"
            imgSrc="/public/works/ohuzhetiskazki.jpeg"
            size="40 * 50"
            materials="{=$specMaterialAkril}, {=$specMaterialTkan}"
            date="2022"
            price="15 000 ₽"
        />
        <load
            ="/components/artwork/artwork-item.html"
            serial="{=$workBabushSerial}"
            title="{=$workWontKina}"
            imgSrc="/public/works/kinanebudet.jpeg"
            size="40 * 50"
            materials="{=$specMaterialAkril}, {=$specMaterialTkan}, {=$specMaterialVish}"
            date="2022"
            price="18 000 ₽"
        />
        <load
            ="/components/artwork/artwork-item.html"
            serial="{=$workVseBudetSerial}"
            title="{=$workWontYami}"
            imgSrc="/public/works/matreshka.png"
            size="60 * 80"
            materials="{=$specMaterialAkril}, {=$specMaterialTkan}"
            date="2022"
            price="60 000 ₽"
        />
        <load
            ="/components/artwork/artwork-item.html"
            serial="{=$workVseBudetSerial}"
            title="{=$workWontNeval}"
            imgSrc="/public/works/nevalyashkinesdayutsya.jpeg"
            size="60 * 80"
            materials="{=$specMaterialAkril}, {=$specMaterialTkan}"
            date="2022"
            price="60 000 ₽"
        />
        <load
            ="/components/artwork/artwork-item.html"
            serial="{=$workVseBudetSerial}"
            title="{=$workWontNeStoit}"
            imgSrc="/public/works/nestoitzlitmatreshek.jpeg"
            size="60 * 80"
            materials="{=$specMaterialAkril}, {=$specMaterialTkan}"
            date="2022"
            price="60 000 ₽"
        />

    </div>
    <div class="link-button__show-more" id="artwork__show-more-btn">
        <a href="#" class="link-button">{=$showMore}</a>
    </div>
</section>
