.burger-menu {
    background: transparent;
    border: none;
    cursor: pointer;
    position: fixed;
    z-index: 999;
    right: var(--gap-min);
    width: var(--gap-medium);
    height: var(--gap-medium);
    padding: 0;
    display: none;

    @media (width <= 1024px) {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
    }

    &__label {
        display: flex;
        align-items: center;
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.5;
        z-index: 1;
        display: none;
    }

    &__list {
        position: fixed;
        right: 0;
        top: 0;
        background-color: var(--background-color);
        z-index: 2;
        display: none;
        list-style: none;
        padding: var(--gap-big);
        margin: 0;
        border-radius: 10px;
        margin-right: var(--gap-tiny);
        margin-top: 1.6rem;

        .burger-menu__wrapper &-item:not(:last-child) {
            margin-bottom: var(--gap-small);
        }
    }

    &__button-line {
        transition: ease-out 0.3s;
        background-color: var(--bright-text-color);
        margin-bottom: 4px;
        width: 20px;
        height: 3px;
        border-radius: 3px;
        border: 1px solid var(--dark-text-color);

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__checkbox {
        display: none;

        &:checked + .burger-menu__label {
            .burger-menu {
                margin-right: 5px;
                margin-top: 3px;
            }

            .burger-menu__button-line {
                border: none;
                border-radius: 0;
            }

            .burger-menu__button-line:nth-child(1) {
                transform: rotate(45deg) translate(41%);
            }

            .burger-menu__button-line:nth-child(2) {
                transform: translate(300%);
            }

            .burger-menu__button-line:nth-child(3) {
                transform: rotate(-45deg) translate(48%, -70%);
            }
        }

        &:checked ~ .burger-menu__overlay {
            display: block;
        }

        &:checked ~ .burger-menu__list {
            display: block;
        }
    }
}
