<div class="awards__wrapper" id="awards">
    <section class="awards">
        <h2>{=$awardsTitle}</h2>
        <div class="awards__items-container">
            <load
                ="/components/awards/awards-item.html"
                imgSrc="/public/velvet-trash/angel/prime.jpg"
                date="17.06.2023"
                title="Международная выстка в г. Стамбул 'Поэзия лета'"
            />
            <load
                ="/components/awards/awards-item.html"
                imgSrc="/public/velvet-trash/duck-tales/prime.jpg"
                date="17.01.2022"
                title="Международная выстовка в г. Санкт-Петербург 'Поэзия зимы'"
            />
            <load
                ="/components/awards/awards-item.html"
                imgSrc="/public/works/birthday.png"
                date="17.06.2023"
                title="Международная выстка в г. Стамбул 'Поэзия лета'"
            />
            <load
                ="/components/awards/awards-item.html"
                imgSrc="/public/velvet-trash/bear-memory/prime.jpg"
                date="17.01.2022"
                title="Международная выстовка в г. Санкт-Петербург 'Поэзия зимы'"
            />
            <load
                ="/components/awards/awards-item.html"
                imgSrc="/public/velvet-trash/angel/prime.jpg"
                date="17.06.2023"
                title="Международная выстка в г. Стамбул 'Поэзия лета'"
            />
        </div>
    </section>
</div>
