.awards__wrapper {
    background-color: var(--background-color-bright);
    background-image: url(/bg/awards-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @mixin block-wrapper;
}

.awards {
    color: var(--dark-text-color);

    @mixin block;

    &__items-container {
        display: flex;
        flex-wrap: wrap;

        @media (width < 1024px) {
            flex-direction: column;
        }
    }

    &__item {
        width: 41%;
        margin-bottom: var(--gap-medium);

        @media (width > 1023px) {
            &:not(:first-child)&:not(:nth-child(2n + 1)) {
                margin-left: var(--gap-big);
            }
        }

        @media (width < 1024px) {
            width: 100%;
        }

        &-img-wrapper {
            width: 100%;
            position: relative;
        }

        &-img {
            width: 100%;
            max-width: 500px;
            border: 1px solid var(--bright-text-color);
            max-height: 500px;
            cursor: pointer;
            aspect-ratio: 1/1;
            object-fit: cover;
            object-position: top;
        }

        &-info {
            &-paragraph {
                margin: var(--gap-min) 0;
            }
        }
    }
}
