.awards__wrapper {
    background-color: var(--background-color-bright);
    background-image: url(/public/bg/awards-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @mixin block-wrapper;
}

.awards {
    color: var(--dark-text-color);

    @mixin block;

    &__items-container {
        display: flex;
        flex-wrap: wrap;

        @media (width < 1024px) {
            flex-direction: column;
        }
    }

    &__item {
        width: 31%;
        margin-bottom: var(--gap-medium);

        @media (width > 1024px) {
            &:not(:first-child)&:not(:nth-child(3n + 1)) {
                margin-left: var(--gap-small);
            }
        }

        @media (width < 1024px) {
            width: 100%;
        }

        &-img-wrapper {
            height: 370px;
            width: 100%;
            position: relative;
        }

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
        }

        &-info {
            &-paragraph {
                margin: var(--gap-min) 0;
            }
        }
    }
}
