<div class="awards__wrapper" id="awards">
    <section class="awards">
        <h2>{=$awardsTitle}</h2>
        <div class="awards__items-container">
            <load
                ="/components/awards/awards-item.html"
                imgSrc="/awards/festival.jpeg"
                date="17.08.2016"
                title="{=$awardFestival}"
            />
            <load
                ="/components/awards/awards-item.html"
                imgSrc="/awards/rus-art-week.jpeg"
                date="17 - 25.11.2021"
                title="{=$awardAvangard}"
            />
            <load
                ="/components/awards/awards-item.html"
                imgSrc="/awards/art-istanbul.jpeg"
                date="01 - 04.06.2023"
                title="{=$awardStambul}"
            />
            <load
                ="/components/awards/awards-item.html"
                imgSrc="/awards/art-ankara.jpeg"
                date="09 - 12.03.2023"
                title="{=$awardAnkara}"
            />
        </div>
    </section>
</div>
