.gallery {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;

    &__overlay {
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.9;
    }

    &__title {
        position: absolute;
        top: var(--gap-min);
        left: 50%;
        transform: translateX(-50%);
        text-shadow: 0 0 20px black;
        font-size: var(--font-size-pre-medium);
        width: 75%;
        text-align: center;
    }

    &__content {
        position: absolute;
        top: var(--gap-huge);
        bottom: var(--gap-medium);
        display: flex;
        width: 100%;

        @media (max-width: 1023px) {
            align-self: center;
            justify-content: center;
        }
    }

    &__close-btn {
        position: absolute;
        top: var(--gap-min);
        right: var(--gap-min);
        width: var(--gap-small);
        height: var(--gap-small);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img-container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;

        @media (max-width: 1023px) {
            align-self: center;
            justify-content: center;
            padding: 0 var(--gap-min);
        }
    }

    &__img {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
        object-fit: contain;
        border: none;
        transition: all 0.5s ease-in-out;
        aspect-ratio: unset;
    }

    &__stub {
        height: 100%;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: var(--font-size-pre-medium);
        cursor: pointer;
        text-align: center;

        @media (max-width: 1023px) {
            width: 100vw;
        }
    }

    &__prev,
    &__next {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: var(--gap-min);
        height: fit-content;
        align-self: center;
        flex-grow: 1;
        justify-content: end;

        @media (max-width: 1023px) {
            position: absolute;
            bottom: 0;
        }
    }

    &__prev {
        transform: rotate(180deg);

        @media (max-width: 1023px) {
            left: 0;
        }
    }

    &__next {
        @media (max-width: 1023px) {
            right: 0;
        }
    }

    &__arrow {
        width: 60px;
        height: 60px;
        background-color: rgb(0 0 0 / 50%);
        border-radius: 100%;
    }
}
