<div class="gallery hidden">
    <div class="gallery__overlay"></div>
    <div class="gallery__close-btn">
        <img
            class="gallery__close-btn-img"
            src="/public/icons/cross.svg"
            loading="lazy"
            alt="{=$galleryСloseIconAlt}"
        />
    </div>
    <div class="gallery__title"></div>
    <div class="gallery__content">
        <div class="gallery__prev">
            <img
                class="gallery__arrow"
                src="/public/icons/gallery-arrow.svg"
                loading="lazy"
                alt="{=$galleryButtonNextAlt}"
            />
        </div>
        <div class="gallery__img-container"></div>
        <div class="gallery__stub hidden">{=$galleryStubText}</div>
        <div class="gallery__next">
            <img
                class="gallery__arrow"
                src="/public/icons/gallery-arrow.svg"
                loading="lazy"
                alt="{=$galleryButtonPrevAlt}"
            />
        </div>
    </div>
</div>
