.button-top {
    position: fixed;
    right: var(--gap-min);
    bottom: var(--gap-min);
    border-radius: 20%;
    background-color: var(--background-color-bright);
    padding: 0.4rem;
    cursor: pointer;
    box-shadow: 0 0 5px var(--background-color);
    z-index: 999;
    display: none;

    &__icon {
        width: 1.6rem;
    }

    &_visible {
        display: flex;
    }
}
