.footer {
    color: var(--gray-text-color);

    &__developer {
        display: flex;

        &-logo {
            width: 45px;
        }

        &-text {
            line-height: var(--gap-small);
            margin-left: var(--gap-tiny);
        }

        &-link {
            color: var(--gray-text-color);
            font-weight: 700;
        }
    }
}

.footer__mobile-wrapper {
    @mixin block;

    background-color: var(--background-color-footer);

    @media (width > 1024px) {
        display: none;
    }
}
