<div class="contacts__wrapper">
  <section class="contacts">
    <h2>{=$contactsTitle}</h2>
    <div class="contacts__content">
      <div class="contacts__content-text">
        <p class="major-paragraph">{=$contactsText}</p>
        <div class="contacts__content-text-inner-wrapper">
          <div class="contacts__item">
            <div class="contacts__item-title">
              <img src="/public/icons/whatsapp.svg" loading="lazy" class="contacts__item-icon" />
              {=$contactsItemPhoneTitle}
            </div>
            <div class="contacts__item-content"><a href="tel:+79165655555">+7 916-565-55-55</a></div>
          </div>
          <div class="contacts__item">
            <div class="contacts__item-title">
              <img src="/public/icons/threads.svg" loading="lazy" class="contacts__item-icon" />
              E-mail
            </div>
            <div class="contacts__item-content"><a href="mailto:Oksi_Murr@mail.ru">Oksi_Murr@mail.ru</a></div>
          </div>
          <div class="contacts__socials">
            <p>{=$contactsSocialsTitle}</p>
            <load ="/components/social-icons/social-icons.html" />
          </div>
        </div>
      </div>
      <div class="contacts__content-image">
        <img src="/public/contacts-image.jpg" loading="lazy" alt=" Художник Оксана Муратова" />
      </div>
    </div>
    <load ="/components/footer/footer.html" />
  </section>
</div>
