.contacts__wrapper {
    @mixin block-wrapper;

    position: relative;

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        z-index: -1;
        background-size: cover;
        background-position: center center;

        @media (width <= 1024px) {
            background-image: url(/public/bg/contacts-background-mobile.jpg);

            @media (height <= 660px) {
                background-position: 100% 100%;
            }
        }

        @media (width > 1024px) {
            background-image: url(/public/bg/contacts-background.jpg);
        }
    }
}

.contacts {
    @mixin block;

    &__content {
        display: flex;

        &-text {
            width: 52%;
            margin-top: 6rem;

            .major-paragraph {
                font-weight: 700;
            }

            @media (width <= 1024px) {
                width: 100%;
                margin-top: 1rem;
                text-align: center;

                .major-paragraph {
                    margin-top: 0;
                    font-size: var(--font-size-pre-medium);
                    line-height: 25px;
                    font-weight: 500;
                    text-align: center;
                    margin-bottom: 4rem;
                }
            }

            &-inner-wrapper {
                @mixin inner-wrapper;

                margin-bottom: 3rem;
                margin-top: 4rem;
                padding-left: 3rem;
                border-color: var(--bright-text-color);

                @media (width <= 1024px) {
                    margin-bottom: 0;
                }
            }
        }

        &-image {
            padding-left: 50px;
            width: 41%;
            height: 100%;
            position: relative;
            margin-top: 4%;
            margin-bottom: 1rem;

            &::before {
                border: 1px solid var(--bright-text-color);
                position: absolute;
                content: '';
                top: -3.5%;
                right: -4%;
                width: calc(100% - 50px);
                height: 105%;
            }

            img {
                width: 100%;
            }

            @media (width <= 1024px) {
                display: none;
            }
        }
    }

    &__item {
        @media (width > 1024px) {
            margin-bottom: 4rem;
        }

        &-icon {
            display: inline;
            margin-right: 0.5rem;
            vertical-align: middle;
            margin-top: -4px;
            width: 20px;
        }

        @media (width <= 1024px) {
            margin: 0 auto;
            padding-bottom: 1.5rem;
            border-bottom: 1px solid var(--bright-text-color);
            margin-bottom: 1.5rem;
            max-width: 200px;

            &-title {
                display: flex;
                justify-content: center;
            }

            &-icon {
                display: flex;
                margin-right: 0.5rem;
                width: 1.1rem;
            }
        }

        &-content {
            font-size: var(--font-size-medium);
            margin-top: 1.5rem;
            font-weight: 700;

            @media (width <= 1024px) {
                font-size: var(--font-size-pre-medium);
                font-weight: 500;
            }
        }
    }

    @media (width <= 1024px) {
        .social-icons {
            justify-content: center;
            margin-bottom: 2rem;
        }
    }

    .footer {
        margin-top: 8rem;
    }

    @media (width <= 1024px) {
        .footer {
            display: none;
        }
    }
}
