.social-icons {
    display: flex;
    align-items: center;

    &__link {
        padding: var(--gap-min);
        border: 1px solid #fff;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 23px;
        min-height: 23px;

        &:hover {
            @mixin button-hover;
        }

        &:not(:last-child) {
            margin-right: var(--gap-min);
        }
    }
}
