.artwork {
    @mixin block;

    &__description {
        margin: 4rem 0;
    }

    &__items-container {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding-top: 3rem;

        @media (width <= 1024px) {
            flex-direction: column;
            padding-top: 0;
        }
    }

    &__item {
        margin: 0 10px;

        @media (width <= 1024px) {
            &:not(:last-child) {
                margin-bottom: 4rem;
            }
        }

        &-img {
            width: 100%;
            max-width: 400px;
            border: 1px solid var(--bright-text-color);
            max-height: 400px;
        }

        &-title {
            text-transform: uppercase;
            font-weight: 500;
            font-size: var(--font-size-medium);
            line-height: 2rem;
            margin: 2rem 0;

            @media (width <= 1024px) {
                font-size: var(--font-size-pre-medium);
            }
        }

        &-info {
            border-spacing: 0;
            border-top: 1px solid var(--background-color-bright);
            width: 100%;
            padding-top: 1rem;

            &-right,
            &-left {
                height: 2rem;
            }

            &-right {
                text-align: right;
            }
        }
    }

    &__more-btn {
        &-container {
            margin: 4rem 0;
            text-align: center;
        }
    }
}
