<div class="about__wrapper">
  <section class="about">
    <h2>ОБО МНЕ</h2>
    <div class="about__content">
      <div class="about__content-text">
        <p class="major-paragraph">
          Привет, я Оксана Муратова.<br />И я - художник-мистик, создающий зачарованный сюрреализм.
        </p>
        <div class="about__content-image_mobile">
          <img src="/public/about-image.png" alt=" Художник Оксана Муратова и её работы" />
        </div>
        <div class="about__content-text-inner-wrapper">
          <p>
            С 2008 года профессионально работала в медиуме «Художественная кукла», имеею дипломы и награды
            международного значения.
          </p>
          <p>
            Поэтому в моих работах имеется глубокий след кукольного искусства с одной стороны, и попытки внедрения
            элементов стилистики junk art, с другой. Я активно использую лепку на холсте, вышивку, а так же бумагу,
            ткани и различные найденные артефакты.
          </p>
          <p>
            Мои образы отсылают к сказкам и фантастическим мирам с сюрреалистическими мотивами и вымышленными
            персонажами.
          </p>
          <p>
            Мои работы представляют галереи в Москве, Санкт-Петербурге и Сочи (Россия). Активно принимаю участие в
            международных российских и европейских выставках и была награждена дипломами как призер тематических
            конкурсов.
          </p>
        </div>
        <div class="about__contacts">
          <p>Давайте дружить</p>
          <load ="/components/social-icons/social-icons.html" />
        </div>
      </div>
      <div class="about__content-image">
        <img src="/public/about-image.png" alt=" Художник Оксана Муратова и её работы" />
      </div>
    </div>
  </section>
</div>
