<div class="about__wrapper" id="about">
    <section class="about">
        <h2>{=$aboutTitle}</h2>
        <div class="about__content">
            <div class="about__content-text">
                <p class="major-paragraph">{=$aboutMajorParagraph}</p>
                <div class="about__content-image_mobile">
                    <img src="/public/about-image.jpg" loading="lazy" alt="{=$aboutImgAlt}" />
                </div>
                <div class="about__content-text-inner-wrapper">
                    <p>{=$aboutParagraph1}</p>
                    <p>{=$aboutParagraph2}</p>
                    <p>{=$aboutParagraph3}</p>
                    <p>{=$aboutParagraph4}</p>
                </div>
                <div class="about__contacts">
                    <p>{=$aboutContactsParagraph}</p>
                    <load ="/components/social-icons/social-icons.html" />
                </div>
            </div>
            <div class="about__content-image">
                <img src="/public/about-image.jpg" loading="lazy" alt="{=$aboutImgAlt}" />
            </div>
        </div>
    </section>
</div>
