.about__wrapper {
    background-color: var(--background-color-bright);

    @mixin block-wrapper;
}

.about {
    color: var(--dark-text-color);

    @mixin block;

    &__content {
        display: flex;

        &-text {
            width: 52%;

            @media (max-width: 1023px) {
                width: 100%;

                .major-paragraph {
                    font-size: var(--font-size-pre-medium);
                    font-weight: 500;
                }
            }

            &-inner-wrapper {
                @mixin inner-wrapper;

                margin-bottom: var(--gap-big);
                border-color: var(--dark-text-color);

                @media (max-width: 1023px) {
                    margin-bottom: 0;
                }
            }

            .major-paragraph {
                margin-top: 0;
            }
        }

        &-image {
            padding-left: 50px;
            width: 41%;
            height: 100%;
            position: relative;

            &::before {
                border: 1px solid #2d6372;
                position: absolute;
                content: '';
                top: -3.5%;
                right: -4%;
                width: calc(100% - 50px);
                height: 105%;
            }

            img {
                width: 100%;
            }

            &_mobile {
                display: none;
            }

            @media (max-width: 1023px) {
                display: none;

                &_mobile {
                    display: flex;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    &__contacts {
        margin-bottom: var(--gap-big);
    }

    .social-icons {
        @mixin social-icons-dark;
    }
}
